.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent; /* here rgba (corrected) */
}

.text-area:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent; /* here rgba (corrected) */
}

.list-view:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent; /* here rgba (corrected) */
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: black;
}

.text-area .content {
  -fx-background-color: black;
}

.border-pane {
  -fx-background-color: black;
}

.split-pane {
    -fx-background-insets: 0;
    -fx-background-color: black;
}

.text-field {
    -fx-background-insets: 0;
    -fx-background-color: black;
}

.text-field .content {
    -fx-background-color: transparent, white, transparent, white;
}